<template>
  <div id="editor">
    <v-text-field
      light
      label=""
      full-width
      multi-line
      single-line
      :value="activeNoteText"
      @input="editNote"
    ></v-text-field>
  </div>
</template>

<script>
export default {
  name: 'noteeditor',
  methods: {
    editNote (val) {
      this.$store.dispatch('editNote', val)
    }
  },
  computed: {
    activeNoteText () {
      return this.$store.getters.activeNoteText
    }
  }
}
</script>

<style type="text/css">
  #editor {
    color: #fff !important;
  }
</style>
