<template>
  <div>

    <div class="text-xs-center">

      <v-btn light success
        @click.native.stop="show = 'all'"
        :class="{active: show === 'all'}">
        All Notes
      </v-btn>

      <v-btn light info
        @click.native.stop="show = 'favorites'"
        :class="{active: show === 'favorites'}">
        Favorites
      </v-btn>
    </div>

    <v-list>
      <v-list-item 
        v-for="item in listNotes" 
        v-bind:key="item.text" 
        active
        @click="updateActiveNote(item)">
        <v-list-tile light>
          <v-list-tile-action>
            <v-icon v-if="item.favorite">star</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.text"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>

export default {
  data () {
    return {
      show: 'all'
    }
  },
  methods: {
    updateActiveNote (e) {
      console.log('editing >>>', e)
      this.$store.dispatch('updateActiveNote', e)
    }
  },
  computed: {
    listNotes () {
      console.log('show flag', this.show)
      if (this.show === 'all') {
        return this.$store.getters.notes
      } else {
        return this.$store.getters.notes.filter(n => n.favorite)
      }
    }
  }
}
</script>

<style type="text/css">
#note-list {
  color: #fff;
}
</style>
