<template>
  <div id="toolbar">

    <v-btn light icon @click.native.stop="addNote">
      <v-icon>add</v-icon>
    </v-btn>
    <v-btn light icon @click.native.stop="toggleFavorite">
      <v-icon >star</v-icon>
    </v-btn>

    <v-btn light icon @click.native.stop="deleteNote">
      <v-icon>remove</v-icon>
    </v-btn>

  </div>
</template>

<script>
export default {
  name: 'toolbar',
  data () {
    return {
      count: 0,
      temp: []
    }
  },
  methods: {
    delTemp (val) {
      this.temp.$remove(this.temp[0])
    },
    addNote (e) {
      this.$store.dispatch('addNote')
    },
    toggleFavorite () {
      this.$store.dispatch('toggleFavorite')
    },
    deleteNote () {
      this.$store.dispatch('deleteNote')
    }
  },
  computed: {
    activeNote () {
      return this.$store.getters.activeNote
    },
    listNotes () {
      return this.$store.getters.notes
    }
  }
}
</script>

<style>
#toolbar {
  height: 100%;
  background-color: #30414D;
  color: #767676;
  padding: 35px 25px 25px 25px;
}
</style>
