<template>
  <div id="completed-todos">
    <h3 v-if="completed.length > 0">Completed({{completed.length}})</h3>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="completed"
      v-bind:search="search"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
    >
      <template slot="headers" scope="props">
        <span v-tooltip:bottom="{ 'html': props.item.text }">
          {{ props.item.text }}
        </span>
      </template>
      <template slot="items" scope="props">
        <td class="text-xs-right">{{ props.item.body }}</td>
        <td class="text-xs-right">{{ props.item.completed? 'Sí' : 'No' }}</td>
        <td class="text-xs-right">
          <div class="btn-group">
            <button type="button" @click="remove(props.item)" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove-circle"></span> Remove
            </button>
          </div>
        </td>
      </template>
    </v-data-table>
  </div>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        search: '',
        totalItems: 0,
        items: [],
        loading: false,
        pagination: {},
        headers: [
          {
            text: 'Simple Todo',
            value: 'content'
          },
          { text: 'Completed', sortable: false, value: 'completed' },
          { text: 'Action', value: '' }
        ]
      }
    },
    methods: {
      remove (todo) {
        this.$store.dispatch('removeTodo', todo)
      }
    },
    computed: {
      completed () {
        return this.$store.getters.completedTodos
      }
    }
  }
</script>
