<template>
  <div id="current-todos" class="container">
    <h3 v-if="todos.length > 0">Current({{todos.length}})</h3>
    <v-card>
      <v-card-title>
        
        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Search"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-card-title>
      <v-data-table
        v-bind:headers="headers"
        v-bind:items="todos"
        v-bind:search="search"
        v-bind:pagination.sync="pagination"
        :total-items="totalItems"
        :loading="loading"
        class="elevation-1"
        hide-actions
      >
        <template slot="headers" scope="props">
          <span v-tooltip:bottom="{ 'html': props.item.text }">
            {{ props.item.text }}
          </span>
        </template>
        <template slot="items" scope="props">
          <!-- <td>{{ props.item.name }}</td> -->
          <td class="text-xs-right">
            <v-edit-dialog
              class="text-xs-right"
              @open="props.item._body = props.item.body"
              @cancel="props.item.body = props.item._body || props.item.body"
              large
              lazy
            >
              <div class="text-xs-right">{{ props.item.body }}</div>
              <div slot="input" class="mt-3 title">Update body</div>
              <v-text-field
                slot="input"
                label="Edit"
                v-bind:value="props.item.body"
                v-on:blur="val => testedit(val)"
                single-line
                counter
                autofocus
              ></v-text-field>
            </v-edit-dialog>
          </td>
          <td class="text-xs-right">{{ props.item.completed? 'Sí' : 'No' }}</td>
          <td class="text-xs-right">
            <div class="btn-group">
              <button type="button" @click="edit(props.item)" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-edit"></span> Edit
              </button>
              <button type="button" @click="complete(props.item)" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-ok-circle"></span> Complete
              </button>
              <button type="button" @click="remove(props.item)" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove-circle"></span> Remove
              </button>
            </div>
          </td>
        </template>
      </v-data-table>
      <div class="text-xs-center pt-2">
        <v-pagination v-model="pagination.page" :length="Math.ceil(pagination.totalItems / pagination.rowsPerPage)"></v-pagination>
      </div>
    </v-card>
  </div>

</template>
<script>
  export default{
    data () {
      return {
        search: '',
        totalItems: 0,
        items: [],
        loading: false,
        pagination: {},
        headers: [
          {
            text: 'Simple Todo',
            value: 'body'
          },
          { text: 'Completed', sortable: false, value: 'completed' },
          { text: 'Action', value: '' }
        ]
      }
    },
    methods: {
      edit (todo) {
        this.$store.dispatch('editTodo', todo)
      },
      complete (todo) {
        this.$store.dispatch('completeTodo', todo)
      },
      remove (todo) {
        this.$store.dispatch('removeTodo', todo)
      },
      testedit (a) {
        console.log(a.target.value, arguments)
      }
    },
    computed: {
      todos () {
        return this.$store.getters.todos
      }
    }
  }
</script>
<style>
  .btn-group{
    float: right;
  }
</style>
