<template>
  <div>
    <v-container fluid class="ma-0 pa-0">
      <v-layout row ma-0 pa-0>
        <v-flex xs1 ma-0 pa-0  class="accent">
          <toolbar></toolbar>
        </v-flex>
        <v-flex xs3 ma-0 pa-0 class="primary">
          <notes-list></notes-list>
        </v-flex>
        <v-flex xs8 ma-0 pa-2 class="info">
          <editor></editor>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Toolbar from './note/Toolbar.vue'
import NotesList from './note/NotesList.vue'
import Editor from './note/Editor.vue'

export default {
  components: {
    Toolbar,
    NotesList,
    Editor
  }
}
</script>
