<template>
  <v-app id="app">
    <v-navigation-drawer 
      persistent 
      dark 
      :mini-variant.sync="mini" 
      :clipped="clipped"
      v-model="drawer">
      <v-list class="pa-0">
        <v-list-item>
          <v-list-tile avatar tag="div">
            <v-list-tile-avatar>
              <img src="./assets/keith.png" alt="keith" />
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Keith Ernest Ouano</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon @click.native.stop="mini = !mini">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-item>
      </v-list>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-item v-for="item in items" :key="item">
          <v-list-tile
              :href="item.href"
              ripple
          >
            <v-list-tile-action>
              <v-icon light>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar>
      <v-toolbar-side-icon @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn 
        icon
        @click.native.stop="mini = !mini"
      >
        <v-icon v-html="mini ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        icon
        @click.native.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>menu</v-icon>
      </v-btn>
    </v-toolbar>
    <main>
      <v-container fluid light>
        <!-- <div class="title">Click on sidebar to re-open.</div> -->
        <!--v-router-->
          <router-view></router-view>
      </v-container>
    </main>
    <v-footer :fixed="fixed">
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    name: 'app',
    data () {
      return {
        drawer: true,
        items: [
          { title: 'Welcome', icon: 'dashboard', href: '#/' },
          { title: 'About', icon: 'question_answer', href: '#/about' },
          { title: 'Notes', icon: 'apps', href: '#/notes' },
          { title: 'To-do', icon: 'assignment', href: '#/simpletodo' }
        ],
        mini: false,
        right: false,
        fixed: false,
        rightDrawer: false,
        clipped: false,
        title: ''
      }
    }
  }
</script>

<style lang="stylus">
  @import 'stylus/main'
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /*margin-top: 60px;*/
  }
</style>
